.homeBanners {
  width: 100%;
  height: auto;
  /* overflow: hidden; */
}
.homeBanners img {
  width: 100%;
  /* object-fit: contain; */
}
.shortImage{
  display: none;
}
@media(max-width: 673px){
  .largeImage{
    display: none;
  }
  .shortImage{
    display: block;
  }
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.largeImage{
  max-height: 500px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
  position: relative;
}

/* category start */

.categoryContainer {
  margin-top: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Update grid-template-columns property */
  gap: 20px;
  place-items: center;
  text-align: center;
}

.categoryContainer img {
  max-width: 100%; /* Update width property to allow flexible resizing */
  height: auto; /* Remove fixed height property */
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 250px;
  max-height: 250px;
}

.categoryContainer img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.categoryContainer h3 {
  margin-top: 10px;
  font-size: 1rem;
}

/*  product list */

.collectionHeadingTag {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.collectionHeadingTag > h3 {
  font-size: 1.3rem;
}
.collectionHeadingTag > a {
  color: black;
  font-weight: 300;
  font-size: 1rem;
}
.collectionImages {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

@media (max-width: 1015px){
  .collectionImages{
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 804px){
  .collectionImages{
    grid-template-columns: auto auto;
  }
}
@media(max-width: 620px){
  .collectionImages{
    grid-template-columns: auto;
    
  }
}

.productImageContainer {
  padding: 15px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
 .productImage {
  position: relative;
  overflow: hidden;
}
.productImage img {
  max-width: 340px;
  max-height: 320px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.hover-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  
} 

.productImage:hover .hover-image,
.productImage img:hover {
  opacity: 1;
}
.bodyHeading {
  margin-top: 5px;
}
.bodyHeading h3 {
  font-size: 1rem;
}
.productPrice p {
  font-size: 0.8rem;
}

.productSizes {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.productSizes button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border-style: outset;
  transition: all 0.3s;
}
.productSizes button:hover {
  background-color: black;
  color: white;
}
.viewAllButton {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.viewAllButton > a {
  font-size: 1rem;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid;
  color: black;
}
/*  product list end*/
/* category second */
.Categories-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Update grid-template-columns property */
  gap: 20px;
  padding: 0px 20px;
  place-items: center;
}

.Categories-container img {
  max-width: 100%; /* Update width property to allow flexible resizing */
  height: auto; /* Remove fixed height property */
  cursor: pointer;
  transition: transform 0.3s;
  overflow: hidden;
}

.Categories-container img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .Categories-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Update grid-template-columns for smaller screens if desired */
  }
}

/* category second end */
