.services-intro {
    text-align: center;
    padding: 20px;
  }
  .services-intro p{
    font-size: medium;
  }
  
  
  .service-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .service-item {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    width: 80%;
    text-align: center;
  }
  .service-item p{
    font-size: medium;
  }
  